// General
$color-white: #ffffff;
$color-black: #000000;

// SVG colors
$color-glacier: #86bbc3;
$color-blueDianne: #224e59;
$color-neptune: #7bb7bf;
$color-aquaIsland: #acdcd9;
$color-wewak: #f5989d;
$color-oliveGreen: #9aac49;
$color-ecruWhite: #f5f1e6;

// Text colors
$color-patina: #5a9692;
$color-bigStone: #15343c;
$color-gray: #7e7e7e;
$color-cloud: #c5c1bc;

// Other colors
$color-mandy: #E55B58;
$color-wedgewood: #4790a2;
