/*
* @name Base
* @section Elements
*/

html {
	-webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    background: #80bcc4;
}

a {
    text-decoration: none;
}

// input:-webkit-autofill {
//     -webkit-box-shadow: 0 0 0px 1000px $color-black inset;
// 	-webkit-text-fill-color: $color-white !important;
// }

img {
	max-width: 100%;
    display: block;
}

* {
    @include border-box;
}
